*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#maindiv{
background-image: url('../public/assets/bg.png');
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
}
#table{
  width: 800px;
  font-size: 20px;
  
}
#td{
  background-color: #f9595963;
}
#td:hover{
  background-color: #f95959;
  transition: 100ms;
}
.body{
  background-color: #ffe9e3;
}
.body:hover{
  background-color: #c4c1e07d;
  transition: 100ms;
}
h1{
  margin: 30px;
  text-shadow: 1px 7px 15px  #000000;
}